body {
	font-family: Arial, sans-serif;
	background: #000;
	color: #999;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
	margin: 0;
}

.noscroll {
	position: fixed; 
    overflow-y: auto;
    width: 100%;
}

label {
	font-size: .9em;
}
a {
	color: #999c9f;
}
th {
	font-weight: normal;
	font-size: .9em;
}

#main {
	padding: 10px;
	text-align: center;
	background: #333;
}

#statuscontainer {
	background: #222;
	width: 100%;
	padding: 4px 10px;
	font-size: .8em;
	text-align: center;
	box-sizing: border-box;
}
#statuscontainer a {
	text-decoration: none;
}
#statuscontainer a:hover {
	text-decoration: underline;
}

#statuscontainer .left {
	float: left;
}
#statuscontainer .right {
	float: right;
}
#statuscontainer .inner {
	display: inline-block;
	padding: 4px;
}

#statuscontainer a.push {
	border-color: #666;
	color: #ccc;
	background-color: #405055;
	vertical-align: middle;
	margin: 0;
}

#datalight {
	display: inline-block;
	width: 8px;
	height: 10px;
	background: url(img/green-led.png) no-repeat center center;
}
.connection {
	
}
.connecting .connecting {
	color: #c00;
}
.connecting .connected {
	display: none;
}
.connected  .connected {
	color: #999;
}
.connected .connecting {
	display: none;
}

.connecting #main {
	opacity: .15;	
}


#patch, #learnhint {
	color: #fff;
}
#statuscontainer .patchname {
	text-transform: uppercase;
	min-width: 100px;
	display: inline-block;
}
.iconbutton {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	background: no-repeat center center;
	margin-left: 8px;
}
.iconbutton:hover {
	background-color: #999;
}

#opensettings {
	background-image: url(img/ic_settings_white_18dp.png);
}
#update {
	background-image: url(img/ic_refresh_white_18dp.png);
}
#learn {
	background-image: url(img/ic_midi.png);
}
#randomize {
	background-image: url(img/ic_shuffle_white_18dp.png);
}
#savepatch {
	background-image: url(img/ic_save_white_18dp.png);
}
#exit {
	background-image: url(img/ic_close_white_18dp.png);
}
.btnclose {
	float: right;
	cursor: pointer;
	width: 18px;
	height: 18px;
	background: no-repeat center center;
	background-image: url(img/ic_close_white_18dp.png);
}

.blue, .group.blue, .blue input, .window.blue, .innergroup.blue, .innergroup.blue input {
	color: #0cf;
	border-color: #069!important;
	background-color: #013;
}
.blue .inner { background-color: #0cf; }

.yellow, .group.yellow, .yellow input, .window.yellow {
	color: #ff0;
	border-color: #770!important;
	background-color: #202000;
}
.yellow .inner { background-color: #ff0; }

.orange, .group.orange, .orange input, .window.orange, .orange .exclusive {
	color: #f90;
	border-color: #960!important;
	background-color: #261A00;
}
.orange .inner { background-color: #f90; }

.brown, .group.brown, .brown input, .window.brown {
	color: #7F4C00;
	border-color: #402600!important;
}
 .brown .inner { background-color: #7f4c00; }
 
.pink, .group.pink, .pink input, .window.pink {
	color: #E566E5;
	border-color: #7F337F!important;
	background-color: #261126;
}
.pink .inner { background-color: #E566E5; }

.gray, .group.gray, .gray input {
	color: #ccc;
	border-color: #777777!important;
	background-color: #111;
}
.gray .inner, .perfcontrols .inner { background-color: #ccc; }


.large {
	width: 124px;
	height: 124px;
}

.medium {
	width: 88px;
	height: 88px;	
}

.small {
	width: 62px;
	height: 62px;
}

.checkbox.small {
	width: 32px;
	height: 32px;
}

.smaller {
	width: 18px;
	height: 18px;
}

.tiny {
	width: 12px;
	height: 12px;
}

.box-medium-2x2 {
	display: inline-block;
	vertical-align: middle;
	width: 196px;
	height: 196px;
	overflow: visible;
}
.box-small-2x2 {
	display: inline-block;
	vertical-align: middle;
	width: 146px;
	height: 146px;
	overflow: visible;
}

.group {
	display: inline-block;
	padding: 14px 4px 4px 4px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	position: relative;
	margin-top: 12px;
	text-align: center;
	vertical-align: top;
}

.groupcontainer {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.groupcontainer .group {
	min-width: 355px;
}

.group h2 {
	margin: 0;
	height: 26px;
	padding: 0 4px;
	line-height: 26px;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	position: absolute;
	top: -13px;
	left: 12px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, black 50%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
}

h3 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: .75em;
	margin: 0;
	padding: 0 0 6px 0;
}

.innergroup {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	border-color: inherit;
}

#oscillators {
	
}

#oscillators .osc {
	border-bottom: 1px solid;
	border-color: inherit;
	padding: 12px 0;
}
#oscillators .mixer {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid;
	border-color: inherit;
}

.divup {
	margin-top: 1em;
}

#filter1 {
	padding-bottom: 16px;
}

#modulators {
	padding: 20px 8px 4px 8px;
}

#modulators .env {
	border-top: 1px solid;
	border-left: 1px solid;
	border-color: inherit;
	padding: 4px 0 0 4px;
}

.container {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 4px 4px 4px 4px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
}
.container.large {
	padding: 4px 4px 0 4px;
}
.container label {
	cursor: pointer;
}
.container label.static {
	position: absolute;
	bottom: 10px;
	left: 8px;
	right: 8px;
	text-align: center;
}
.container.medium label.static {
	font-size: .8em;
	bottom: 8px;
	left: 6px;
	right: 6px;
}
.container.small label.static {
	font-size: .7em;
	letter-spacing: -.1px;
	left: 4px;
	right: 4px;
	bottom: 4px;
}
.container label.dynamic {
	position: absolute;
	top: 40%;
	left: 24px;
	right: 24px;
	text-align: center;
}
.container.medium label.dynamic {
	font-size: .7em;
	top: 38%;
	left: 18px;
	right: 18px;
}
.container.small label.dynamic {
	font-size: .6em;
	letter-spacing: -.1px;
	top: 40%;
	left: 12px;
	right: 12px;
}

.checkbox {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 .5em;
}
.checkbox .inner {
	border-radius: 2px;
	position: absolute;
	top: 2px; left: 2px; right: 2px; bottom: 2px;
	visibility: hidden;
}

.checkbox + label {
	cursor: pointer;
}

.checkbox.checked .inner {
	visibility: visible;
}
.exclusive {
	text-align: center;
	margin: .5em 0;
	border-color: inherit;
}
.exclusive.filtertype {
	border-bottom: 1px solid;
	padding: .5em;
}
.exclusive .checkbox,
.labelbelow .checkbox {
	margin: 0;
}
.exclusive-container {
	display: inline-block;
	font-size: .75em;
	text-align: center;
	min-width: 40px;
	border-color: inherit;
}
.labelbelow {
	text-align: center;
}

.lfotypes {
	text-align: left;
}
.lfotypes label {
	min-width: 46px;
	display: inline-block;
}
.lfotypes .exclusiveunstyled {
	padding-bottom: .5em;
	maring-bottom: .5em;
}

.env1, .env2 {
	padding-top: .5em;
	border-top: 1px solid;
	border-color: inherit;
}
.env1 {
	padding-right: .5em;
}
.env2 {
	padding-left: .5em;
	border-left: 1px solid;
	border-color: inherit;
}

a.push {
	display: inline-block;
	color: inherit;
	border: 1px solid;
	border-color:  inherit;
	border-radius: 4px;
	text-decoration: none;
	font-size: .9em;
	padding: 0 4px;
	margin-bottom: 6px
}
a.push:active {
	background-color: #777;
}
a.push:hover {
	background-color: #666;
	box-shadow: 0 0 3px #fff;
}
a.push label  {
	cursor: pointer;
	min-width: 74px;
	display: inline-block;
}


.push.disabled {
	visibility: hidden;
}

#dimmer {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(0,0,0,.67);
	cursor: pointer;
}

.window {
	position: fixed;
	top: 80px;
	left: 50%;
	height: 450px;
	box-shadow: 0 0 10px #000;
	overflow: auto;
	display: none;
	border-radius: 4px;
}

.window input, .window select {
	background-color: rgba(255,255,255,0.1);
	color: inherit;
	border-style: solid;
	border-color: inherit;
	border-width: 1px;
	font-size: 0.9em;
}

h2.windowtitle {
	margin: 0;
	padding: 5px 20px;
	font-size: 1em;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#patchlistwindow {
	margin-left: -400px;
	width: 800px;
	height: auto;
	bottom: 80px;
}
#patchlistwindow .push {
}

#savepatchwindow {
	margin-left: -400px;
	width: 800px;
	height: auto;
	bottom: 80px;
}
#savepatchwindow .push {
}

#settings {
	margin-left: -330px;
	width: 660px;
}

form {
	margin-top: 60px;
	padding: 0 40px;
}
form label {
	display: inline-block;
	min-width: 130px;
}
form .field {
	margin: 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid rgba(0,0,0,.5);
}
form select {
	min-width: 4.5em;
}


#loadpatchlist {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	list-style: none;
	margin: 0;
	padding: 0 20px 20px 20px;
	overflow: auto;
	display: block;
}

.patchlist {
}
.listcontent {
}
.listcontent div {
	display: inline-block;
	min-width: 320px;
	margin: 2px 4px;
}
.listcontent div.headline {
	padding: 5px 0;
	margin: 15px 0 5px 0;
	background-color: rgba(255,255,255,0.075);
	display: block;
}
.listcontent div a.push {
	width: 300px;
	text-align: left;
	color: #eee;
	border-color: #666;
}
.listcontent div .category {
	margin-top: 3px;
	float: right;
	font-size: .8em;
}


div.POLY .push {
	background-color: #377;
}
div.PAD .push {
	background-color: #337;
}
div.LEAD .push {
	background-color: #787800;
}
div.BASS .push {
	background-color: #933;
}
div.KEYS .push {
	background-color: #a70;	
}
div.VOX .push {
	background-color: #858;
}
div.EFFECTS .push {
	background-color: #827;
}
div.PERC .push {
	background-color: #555;
}
div.PLUCKED .push {
	background-color: #373;
}
div.WHATEVER .push {
	background-color: inherit;
}



#patchlistwindow .push.factory {
}
#patchlistwindow .push.seq {
}

.window .saveform {
	margin: 3em 0 0 0;
	padding: 0 20px;
}

.saveform #pcategories {
	font-size: 1em;	
}
#savename {
	width: 350px;
}
#existingpatches {
	margin-top: .3em;
}

.deletepatch {
	background-image: url(img/ic_delete_white_18dp.png);
}

.saveform .field {
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
}
.saveform .field label {
	display: block;
	padding-left: .3em;
}
.saveform .field.full {
	display: block;
	margin: 1em 0;
} 

.sectionsettings {
	text-transform: none;
	font-size: 1em;
	padding-bottom: 4px;
	border-bottom: 1px solid;
	border-color: inherit;
}

canvas#limiterview {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.glossy {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.38) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0.19) 48%, rgba(0,0,0,0.71) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.38)), color-stop(29%,rgba(0,0,0,0)), color-stop(48%,rgba(0,0,0,0.19)), color-stop(100%,rgba(0,0,0,0.71))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.19) 48%,rgba(0,0,0,0.71) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.19) 48%,rgba(0,0,0,0.71) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.19) 48%,rgba(0,0,0,0.71) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.19) 48%,rgba(0,0,0,0.71) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61000000', endColorstr='#b5000000',GradientType=0 ); /* IE6-9 */
}

.performancedata #keyboard {
	display: block;
}

#keyboard {
	display: none;
	text-align: center;
	background-color: #000;
	margin-top: .5em;
	border-top: 1px solid #333;
	position: relative;
}

#keyboard .keys {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	height: 100px;
	overflow: hidden;
}

.wk, .bk {
	border-radius: 0 0 8px 8px;
	display: inline-block;
	width: 29px;
	vertical-align: top;
	cursor: pointer;
	border: 1px solid #333;
	border-top: none;
}
.wk.pressed, .bk.pressed {
	background: #f90;
	box-shadow: none;
}
.wk.pressed { height: 96px; } 

.wk {
	background: #fff;
	height: 100px;
	border-right: none;
}
.wk:last-of-type {
	border-right: 1px solid #333;
}
.bk {
	height: 66px;
	width: 22px;
	background: #000;
	position: relative;
	margin-left: -11px;
	box-shadow: 0 2px 4px #666;
}
.bk + .wk {
	margin-left: -13px;
}

.perfcontrols {
	border-color: #999999!important;
	color: #cccccc;
	display: inline-block;
	vertical-align: top;
	margin-bottom: .5em;
}

#stopbutton {
	margin-left: 1em;
}

#credits {
	display: none;
	position: fixed;
	left: 50%;
	width: 500px;
	height: 500px;
	overflow: auto;
	margin-left: -250px;
	top: 45px;
	z-index: 2;
	background: #000;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 50px #fff;
}

#credits h2 {
	margin: 0 0 1em 0;
	font-size: 1.2em;
	font-weight: normal;
}

.learnselected #status #patch, #learnhint {
	display: none;
}

.learnselected #learnhint {
	display: block;
	color: #f44;
}

.learnselected #status {
	outline: 2px solid #f00;
}

#main .learnselected, .learnselected #learn {
	background-color: #d00!important;
}

.paramselected {
	outline: 4px solid #0ff;
}

.show-learning {
	display: none;
}

.learnselected .show-learning {
	display: inline-block;
}

.valspermidicontainer {
	/*
	border: 2px solid gray;
	border-radius: 4px;
	border-top: none;
	padding: 0 10px;
	font-size: .9em;
	*/
	padding: 20px;
}

.valspermidi {
	border: 2px solid gray;
	border-radius: 4px;
	padding: 4px;
	font-weight: bold;
	color: #f33;
	margin-left: .5em;
	cursor: default;
}

.sin, .tri, .saw, .pul,
.sin .inner, .tri .inner, .saw .inner, .pul .inner {
	background-repeat: no-repeat;
	background-position: center center;
}

.sin {
	background-image: url(img/bg_sin.png);
}
.tri {
	background-image: url(img/bg_tri.png);
}
.saw {
	background-image: url(img/bg_saw.png);
}
.pul {
	background-image: url(img/bg_pul.png);
}

.sin .inner {
	background-image: url(img/bg_sin_sel.png);
}
.tri .inner {
	background-image: url(img/bg_tri_sel.png);
}
.saw .inner {
	background-image: url(img/bg_saw_sel.png);
}
.pul .inner {
	background-image: url(img/bg_pul_sel.png);
}
